@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Luxurious+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* SETTING : BEGIN  */
:root {
    --color-secondary: #EFEBFD;
    --color-input: #DBD5EC;
    --color-plahoder: #281A518A;
    --color-primary: #281A51;
    --color-furniture: #FFECEC;
    --color-property: #F7ECFF;
    --color-job: #ECF0FF;
    --color-travel: #D7F9F3;
    --color-boat: #E2FFD4;
    --color-mc: #FFFFFF;
    --color-economy: #FFF3C9;
    --color-holiday: #FFD9C9;

    --font-poppins: "Poppins", sans-serif;
}

html {
    font-family: var(--font-poppins);
    color: var(--color-primary);
    font-weight: 400;
}

body {
    background-color: var(--color-job);
}

section {
    max-width: 640px;
    background-color: #fff;
    border-radius: 24px;
    padding: 72px;
    box-shadow: 0px 14px 52px -20px #8675B4;
    margin: 368px auto 368px;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* SETTING : END */
/* HEADER : BEGIN  */
.header {
    gap: 12px;
    margin-bottom: 32px;

    & .form-search {
        flex: 1;
        position: relative;

        & input {
            min-height: 56px;
            padding: 16px 0 16px 48px;
            border-radius: 4px;
            min-width: 348px;
            border: 1px solid var(--color-input);
        }

        & input::placeholder {
            color: var(--color-plahoder);
        }

        & input:focus {
            outline: 1px solid var(--color-primary);
        }

        & i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 16px;
            font-size: 18px;
        }
    }

    & .btn {
        gap: 10px;
        min-width: 136px;
        min-height: 56px;
        justify-content: center;
        padding: 16px;
        background-color: var(--color-primary);
        border-radius: 4px;
        color: var(--color-mc);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    & .btn:hover {
        opacity: 0.8;
    }
}

/* HEADER : END */
/* MAIN : BEGIN */
main {
    .category-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        & li {
            transition: all 0.5s ease-in-out;
            border-radius: 8px;
            min-width: 112px;

            & a {
                padding: 24px;
                display: flex;
                gap: 4px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            & i {
                font-size: 18px;
            }
        }

        & li:nth-child(1) {
            background-color: var(--color-furniture);
        }

        & li:nth-child(2) {
            background-color: var(--color-property);
        }

        & li:nth-child(3) {
            background-color: var(--color-job);
        }

        & li:nth-child(4) {
            background-color: var(--color-travel);
        }

        & li:nth-child(5) {
            background-color: var(--color-boat);
        }

        & li:nth-child(6) {
            background-color: var(--color-mc);
            /* box-shadow: 0px 14px 16px 0px #290B801A; */
        }

        & li:nth-child(7) {
            background-color: var(--color-economy);
        }

        & li:nth-child(8) {
            background-color: var(--color-holiday);
        }

        & li:hover {
            box-shadow: 0px 14px 16px 0px #290B801A;
        }
    }
}

/* MAIN : END */